./Cv/data/cvir.v1.fa

Cv/data/cvir.v1.fa

*.zip

mykiss/data/Oncorhynchus_mykiss_scaffolds.fa.gz

*.bam

util/tmp/tbl2asn/Caligus_contigs.sqn-Mt

util/tmp/tbl2asn/Caligus_contigs.sqn-techTSA

util/tmp/tbl2asn/Contigs_Caligus.sqn

